.Login {
  background-color: white;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid #babcbe;
  color: #2e2f2f;
}

.Login input {
  width: 90%;
  padding: 10px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

.form label {
  float: left;
  margin-left: 5%;
}

.Login button {
  background-color: #a0b3d8;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 50px;
  margin: 15px 5px 15px 5px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  padding: 10px
}

.Login button:hover {
  cursor: pointer;
  background-color: #5476b9;
}